<div class="menu_title">Menu</div>
<ul>
	<li>@Html.ActionLink("Home", "Index", "Home")</li>
	<li>@Html.ActionLink("License", "Index", "License")</li>
	<li>@Html.ActionLink("Usage", "Index", "Usage")</li>
	<li>@Html.ActionLink("Download", "Index", "Download")</li>
	<li>@Html.ActionLink("Contribute", "Index", "Contribute")</li>
</ul>